.nenhuma{
    padding: 25px;
    text-align: center;
}
.float_letf{
    float: left;
}
.float_right{
    float: right;
}
.cor_red1{
    color: red!important;
}
.cor_red2{
    color: rgb(211, 11, 11)!important;
}
.descricao{
    color: #1a1b1a;
}
.valor{
    color: #2c8c16;
    font-size: 14px;
    float: right;
    padding: 5px;
}
.pts{
    font-size: 14px;
}
.sevr{
    margin-left: 51px;
    font-size: 15px;
    text-align: center;
}
.cod{
    margin-left: 0;
    font-size: 15px;
    font-weight: bold;
}