<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title><img src="../../../assets/logo-topo.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchCriteria"
    hideCancelButton="false"
    (keyup)="searchBoxInput($event)"
    (ionClear)="searchBoxCancel($event)"
    cancelButtonText="Cancelar"
    placeholder="Pesquisar…"
    color="light" 
    primary></ion-searchbar>
  <div *ngIf="resultado" class="nenhuma">Nenhuma informação encontrada</div>
  <ion-card style="background-color: #ffd38c" *ngFor="let ifc of infracoes | slice:0:limitload;" (click)="detalhes(ifc.id)">
    <ion-card-header color="danger" style="height: 40px;">
      <small class="float_letf cod">#{{ifc.code}}</small>
      <small *ngIf="ifc.severity == ''" class="float_letf sevr">Não pontuável</small>
      <small *ngIf="ifc.severity != ''" class="float_letf sevr">{{ifc.severity}}</small>
      <small class=" pts float_right">{{ifc.points}} pts</small>
    </ion-card-header><br/>
    <ion-card-content class="descricao" [innerHTML]="ifc.description"></ion-card-content>
    <small class="valor">{{ifc.value}}</small>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
