<ion-content padding>
	<div class="card_form">
		<div class="logo">
			<img src="assets/logo-app.png">
		</div>
		<div class="form_inputs">
			<div class="box_input">
				<div class="input_email">
					<label>EMAIL</label>
					<input placeholder="EMAIL" (keydown)="keyDownHandler($event)" class="input_form" type="email" [(ngModel)]="formulario.email">
				</div>
				<div class="input_senha">
					<label>SENHA</label>
					<input placeholder="SENHA" (keydown)="keyDownHandler($event)" class="input_form" type="password" [(ngModel)]="formulario.senha">
				</div>
			</div>
			<div class="box_esqueci" (click)="esqueci()">
				Esqueceu sua senha?
			</div>
		</div>
        <div class="box_buttons">
        	<div class="button_left">
        		<ion-button color="warning" (click)="login()" class="ion-no-margin">Acessar</ion-button>
        	</div>
        	<div class="button_right">
        		<ion-button color="secondary" class="ion-no-margin">Cadastrar-se</ion-button>
        	</div>
        </div>
	</div>

</ion-content>
