<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title><img src="../../../assets/logo-topo.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-searchbar
    [(ngModel)]="searchCriteria"
    hideCancelButton="false"
    (keyup)="searchBoxInput($event)"
    (ionClear)="searchBoxCancel($event)"
    cancelButtonText="Cancelar"
    placeholder="Pesquisar…"
    color="light" 
    primary></ion-searchbar>
  <ion-list *ngFor="let art of artigos | slice:0:limitload;">
    <ion-item (click)="detalhes(art.id)">
      <div style="width: 100%; height: 53px;">
        <b>{{art.name}}</b>: <span [innerHTML]="art.description"></span>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content 
    loadingSpinner="bubbles" 
    loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
