/*ion-content{
  --ion-background-color:#8B8B8B;
}*/
.logo-home{
  background-color:#8B8B8B;
  padding: 25px;
  height: 150px;
  position: relative;
  .button-home{
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 14px;
  }
  .img-logo-home{
    position: absolute;
    top: 8px;
  }
}
.center-vert{
  display: flex;
  justify-content: center;
  align-items: center;
 /* position: absolute;
  top: 50vh;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
}
ion-grid {
  /*padding-top: 12%;*/
}
.home-menu-item-topo{
  position: relative;
  width: 100%;
  height: 15vh;
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 10px;
  /*margin-top: 35px;*/
}
.home-menu-item-bottom{
  position: relative;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 10px;
}

.home-menu-item-right{
  height: 130px;
  border: 5px solid #fff;
  border-radius: 10px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  background-color: #ffe6ab;
  float: right;
  margin-left: 5%;
}

.home-menu-item-left{
  height: 130px;
  border: 4px solid #fff;
  border-radius: 10px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  background-color: #ffe6ab;
  float: left;
}
.home-menu-tittle{
  background-color: #d1cec7;
  color: #000;
  border: 4px solid #fff;
  border-radius: 10px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  bottom: 0;
  font-size: 14px;
}
.footer-apptran{
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 15%;
  padding-top: 20px;
  width: 100%;
  background-color:#8B8B8B;
}


.main-div{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.topo{
  height: 20%;
  background-color: #8B8B8B;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 25px;
  .button-home{
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 14px;
  }
  .img-topo{
    text-align: center;
    position: absolute;
    top: 8px;
    left: 0;
    .img-logo-home{
      width: 60%;
    }
  }
}
.conteudo{
  padding: 10px;
  height: 60%;
  position: absolute;
  background-color: #fcb714;
  top: 1px;
  width: 100%;
  top: 20%;
  
}
.rodape{
  height: 20%;
  background-color: #8B8B8B;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-top: 20px;
}
.linha{
  width: 100%;
  height: 50%;
  clear: both;
  margin: auto;
  text-align: center;
  max-width: 400px;
}
.quadro-menu{
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}