<div class="main-div">
  <div class="topo" (click)="abrirMenu()">
    <div class="button-home"><ion-icon name="menu"></ion-icon></div>
    <div class="img-topo" style="width: 100%">
      <img class="img-logo-home" height="77%" src="../../../assets/LOGO_APPTRAN.png"/>
    </div>
  </div>
  <div class="conteudo">
    <div class="linha">
      <div class="quadro-menu">
        <div class="home-menu-item-left" (click)="goTo('infracoes')">
          <div class="home-menu-img">
            <img src="../../../assets/infrac.png"/>
          </div>
          <div class="home-menu-tittle">Infrações</div>
        </div>
      </div>
      <div class="quadro-menu">
        <div class="home-menu-item-right" (click)="goTo('atualizacoes')">
          <div class="home-menu-img">
            <img src="../../../assets/atualizacoes.png"/>
          </div>
          <div class="home-menu-tittle">Atualizações</div>
        </div>
      </div>
    </div>
    <div class="linha">
      <div class="quadro-menu">
        <div class="home-menu-item-left" (click)="goTo('materiais-apoio')">
          <div class="home-menu-img">
            <img src="../../../assets/apoio.png"/>
          </div>
          <div class="home-menu-tittle">Mat. de apoio</div>
        </div>
      </div>
      <div class="quadro-menu">
        <div class="home-menu-item-right" (click)="goTo('resolucoes')">
          <div class="home-menu-img">
            <img src="../../../assets/resolucoes.png"/>
          </div>
          <div class="home-menu-tittle">Resoluções</div>
        </div>
      </div>
    </div>
  </div>
  <div class="rodape">
    <img class="img-logo-home" height="77%" src="../../../assets/LOGO_ASCONTRAN.png"/>
  </div>
</div>