<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title><img src="../../../assets/logo-topo.png"/></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<br/>
<div class="box_wrapper box_cinza">
  <div class="box_wrapper_item_chapter">
      <div class="box_tittle_clean_chapter" [innerHTML]="data.chapter"></div>
  </div>
</div>

<div class="box_wrapper box_cinza">
  <div class="box_wrapper_item">
    <div class="box_tittle_clean">{{data.name}}</div>
    <div class="box_icon_end" (click)="collapse(1)">
      <ion-icon slot="end" color="dark" [name]="artigos_icon"></ion-icon>
    </div>
    <div *ngIf="artigos_show" class="box_icon_content" [innerHTML]="data.description"></div>
  </div>
</div>

<div class="box_wrapper box_amarelo">
  <div class="box_wrapper_item">
    <div class="box_icon_start"><ion-icon slot="start" color="dark" name="chatboxes"></ion-icon></div>
    <div class="box_tittle">Comentários do Julyver</div>
    <div class="box_icon_end" (click)="collapse(2)">
      <ion-icon slot="end" color="dark" [name]="comentarios_icon"></ion-icon>
    </div>
    <div *ngIf="comentarios_show" class="box_icon_content" [innerHTML]="data.julyverComment"></div>
  </div>
</div>

<div class="box_wrapper box_azul">
  <div class="box_wrapper_item">
      <div class="box_icon_start"><ion-icon slot="start" color="dark" name="information-circle"></ion-icon></div>
      <div class="box_tittle">Saiba mais</div>
      <div class="box_icon_end" (click)="collapse(3)">
        <ion-icon slot="end" color="dark" [name]="saiba_icon"></ion-icon>
      </div>
      <div *ngIf="saiba_show" class="box_icon_content" [innerHTML]="data.additionalInformation"></div>
  </div>
</div>

</ion-content>