<ion-content padding>
	<div class="card_form">
		<div class="logo">
			<img src="assets/logo-app.png">
		</div>
		<div class="form_inputs">
			<div class="box_input">
				<div class="input_email">
					<label>EMAIL</label>
					<input placeholder="EMAIL" class="input_form" type="email" [(ngModel)]="formulario.email">
					<!--  (keyup)="keyUpChecker($event)"  -->
				</div>
			</div>
		</div>
    <div class="box_buttons">
      <div class="button_left">
        <ion-button color="warning" (click)="recuperar()" class="ion-no-margin">Recuperar senha</ion-button>
      </div>
      <div class="button_right">
        <ion-button color="secondary" (click)="voltar()" class="ion-no-margin">Voltar</ion-button>
      </div>
    </div>
	</div>
</ion-content>