.nenhuma{
    padding: 25px;
    text-align: center;
}
.float_letf{
    float: left;
}
.float_right{
    float: right;
}
.cor_red1{
    color: red!important;
}
.cor_red2{
    color: rgb(211, 11, 11)!important;
}
.descricao{
    color: #1a1b1a;
}
.valor{
    color: #2c8c16;
    font-size: 14px;
    float: right;
    padding: 5px;
}
.pts{
    font-size: 14px;
}
.sevr{
    margin-left: 51px;
    font-size: 15px;
    text-align: center;
}
.cod{
    margin-left: 0;
    font-size: 15px;
    font-weight: bold;
}

.infocom_class{
    height: 150px;
}

.box_wrapper{
    position: relative;
    min-height: 45px;
    margin-left: 3%;
    height: auto;
    margin-right: 3%;
    box-shadow:  0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    padding-top: 10px;
    margin-bottom: 15px;
    .box_wrapper_item{
        width: 100%;
        .box_icon_start{
            float: left;
            font-size: 25px;
            margin: 0;
            position: absolute;
            top: 10px;
            left: 5px;
        }
        .box_tittle{
            position: absolute;
            top: 15px;
            left: 50px;
            text-align: center;
        }
        .box_icon_end{
            position: absolute;
            top: 10px;
            right: 5px;
            font-size: 25px;
        }
        .box_icon_content{
            width: 100%;
            margin: 0 auto;
            height: auto;
            min-height: 50px;
            bottom: 5px;
            padding: 15px;
            margin-top: 35px;
        }
    }
}
.box_cinza{
    background-color: #f4f5f8;
}
.box_amarelo{
    background-color: #f5da83;
}
.box_vermelho{
    background-color: #e03a36;
    color: #fff;
}
.box_azul{
    background-color: #95c3d6;
}