<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        <ion-title><img src="../../../assets/logo-topo.png"/></ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

<ion-card style="background-color: #ffd38c">
  <ion-card-header color="danger" style="height: 40px;">
    <small class="float_letf cod">#{{data.code}}</small>
    <small *ngIf="data.severity == ''" class="float_letf sevr">Não pontuável</small>
    <small *ngIf="data.severity != ''" class="float_letf sevr">{{data.severity}}</small>
    <small class=" pts float_right">{{data.points}} pts</small>
  </ion-card-header><br/>
  <ion-card-content class="descricao" [innerHTML]="data.description"></ion-card-content>
  <small class="valor">{{data.value}}</small>
</ion-card>

<div class="box_wrapper box_cinza">
  <div class="box_wrapper_item">
      <div class="box_icon_start"><ion-icon slot="start" color="dark" name="add"></ion-icon></div>
      <div class="box_tittle">Informações complementares</div>
      <div class="box_icon_end" (click)="collapse(1)">
        <ion-icon slot="end" color="dark" [name]="infocomple_icon"></ion-icon>
      </div>
      <div *ngIf="infocomple_show" class="box_icon_content" [innerHTML]="data.complement"></div>
  </div>
</div>

<div class="box_wrapper box_cinza">
  <div class="box_wrapper_item">
    <div class="box_icon_start"><ion-icon slot="start" color="dark" name="help-circle"></ion-icon></div>
    <div class="box_tittle">Providências adicionais à autuação</div>
    <div class="box_icon_end" (click)="collapse(2)">
      <ion-icon slot="end" color="dark" [name]="providencias_icon"></ion-icon>
    </div>
    <div *ngIf="providencias_show" class="box_icon_content" [innerHTML]="data.action"></div>
  </div>
</div>

<div class="box_wrapper box_cinza">
  <div class="box_wrapper_item">
    <div class="box_icon_start"><ion-icon slot="start" color="dark" name="business"></ion-icon></div>
    <div class="box_tittle">Artigos do CTB</div>
    <div class="box_icon_end" (click)="collapse(3)">
      <ion-icon slot="end" color="dark" [name]="artigos_icon"></ion-icon>
    </div>
    <div *ngIf="artigos_show" class="box_icon_content" [innerHTML]="data_artigo.description"></div>
  </div>
</div>

<div class="box_wrapper box_amarelo">
  <div class="box_wrapper_item">
    <div class="box_icon_start"><ion-icon slot="start" color="dark" name="chatboxes"></ion-icon></div>
    <div class="box_tittle">Comentários do Julyver</div>
    <div class="box_icon_end" (click)="collapse(4)">
      <ion-icon slot="end" color="dark" [name]="comentarios_icon"></ion-icon>
    </div>
    <div *ngIf="comentarios_show" class="box_icon_content" [innerHTML]="data_artigo.julyverComment"></div>
  </div>
</div>

<div class="box_wrapper box_vermelho">
  <div class="box_wrapper_item">
    <div class="box_tittle">Ficha do MBFT (PDF)</div>
    <a class="box_icon_end" href="https://app.apptran.com.br/arquivos/{{data.code}}.pdf" download>
      <ion-icon slot="end" color="light" name="download"></ion-icon>
    </a>
  </div>
</div>

<div class="box_wrapper box_azul">
  <div class="box_wrapper_item">
      <div class="box_icon_start"><ion-icon slot="start" color="dark" name="information-circle"></ion-icon></div>
      <div class="box_tittle">Saiba mais</div>
      <div class="box_icon_end" (click)="collapse(5)">
        <ion-icon slot="end" color="dark" [name]="saiba_icon"></ion-icon>
      </div>
      <div *ngIf="saiba_show" class="box_icon_content" [innerHTML]="data.additionalInformation"></div>
  </div>
</div>

</ion-content>
